<h1>Order of the Phoenix members from house <%= @house %></h1>
<p>Total members: <%= @members.size %> </p>
<% @members.each do |member| %>
  <ul>
    <li><%= member.name %></li>
    <li><%= member.role %></li>
    <li><%= member.house %></li>
    <li><%= member.patronus %></li>
  </ul>
  <p>-------------------------------</p>
<% end %>
